.home-back {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../Images/backgrnd.png");
  background-position: center;
  background-size: cover;
  position: relative;
}

.home-header {
  position: relative;
  text-align: left;
  text-decoration: none;
  color: #ffffff;
  top: 80px;
}

.home-gr-head {
  font-size: 90px;
  color: #0277bd;
  line-height: 1.1;
  margin: 0px 100px;
}

.home-oth-head {
  font-size: 90px;
  color: #ffffff;
  line-height: 1.1;
  margin: 0px 100px;
}

.home-header p {
  font-size: 26px;
  margin: 10px 100px;
  letter-spacing: 2px;
  line-height: 1.6;
}

.button-div {
  display: flex;
  justify-content: center;
  padding: 100px;
}
